* {margin: 0; padding: 0;}
body {background-color: #444e68;font-size: 0.8em;text-align: center;}
.all {background-color: #444e68;margin: 0 auto;width: 800px;}
@media screen and (max-width: 800px) {
	.all {width: 100%;}
}
.tip {text-align: left;font-size: 1.2em;color: #f5ebdc;padding-left: 6.6em;}
.posts {margin:3em 1em 0 1em; background-color: #444e68; text-align: left;min-height: 20em;}
.avatar,.avatar img {width:5em; height: 5em;}
.avatar img{border-radius: 50%;}
.avatar {float: left;}
.info {float: left;}
.info li {list-style-type: none;margin-left: 2.4em;margin-top: 0.4em;font-size: 0.9em;color: #f5ebdc;}
.info a {text-decoration-line: none; color: #f5ebdc;}
.info li:first-child {font-size: 1.5em;margin-top: 0em;margin-left: 1.4em;}
.author::after {clear: both;content:"";display: block;}
.content {margin-left: 5.9em;margin-bottom: 2em;margin-top: 0.8em;line-height: 1.8em;font-size: 1.2em;border-radius: 5px;background-color: #dff4fc;padding: 10px;color: #3b6c99;}
.content a {text-decoration-line: none;color: #3b6c99;}
.pn,.pn a{color: #f5ebdc;}
.pn a{text-decoration-line: none;}
.pn {margin-left: 7em;line-height: 2em;}
.ctitle {font-weight: bold;}
.ctime{font-size: 0.8em;}