---
layout: default
---
<div class="posts">
	<div class="post">
	  <div class="author">
	    <div class="avatar"><img src="{{ site.url }}/avatar/{{ site.avatar }}"></div>
	    <div class="info">
	      <ul>
	        <li><a href="{{site.url}}">{{site.author}}</a></li>
	        <li>{{ site.url }}</li>
                <li>{{ site.email }}</li>
	        <li>♦&nbsp;{{ page.title }}，{{ page.date | date: "%Y-%m-%d" }}</li>
	      </ul>
	    </div>
	  </div>
	  <div class="content">
	  {{ content }}
	  </div>
	  {% if page.previous %}
	  <p class="pn">♦&nbsp;<a href="{{ page.previous.url }}">{{ page.previous.title }}，{{ page.previous.date | date: "%Y-%m-%d" }}</a></p>
	  {% endif%}
	  {% if page.next %}
	  <p class="pn">♦&nbsp;<a href="{{ page.next.url }}">{{ page.next.title }}，{{ page.next.date | date: "%Y-%m-%d" }}</a></p>
	  {% endif%}
	</div>
</div>