---
layout: default
---
<div class="posts">
	<div class="post">
	  <div class="author">
	    <div class="avatar"><img src="{{ site.url }}/avatar/slogo220613.png"></div>
	    <div class="info">
	      <ul>
	        <li>{{ site.author }}</li>
	        <li>{{ site.url }}，{{ site.email }}</li>
	        <li>{{ page.title }}，{{ page.date | date: "%Y-%m-%d" }}</li>
	      </ul>
	    </div>
	  </div>
	  <div class="content">
	  {{ content }}
	  </div>
	  {% if page.previous %}
	  <p class="pn">← <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
	  {% endif%}
	  {% if page.next %}
	  <p class="pn">→ <a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
	  {% endif%}
	</div>
</div>